@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;

  --font-header: 0.904rem;
  --font-normal: 0.64rem;
  --font-big: 1.563rem;

  --margin-1: 1rem;
  --color-header: #f55a5a;
  --color-font: #2b283a;
  --color-font-gray: #918e9b;

  /*<i class="fas fa-globe-americas"></i>*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #ededed; /* color de fondo blanco */
}

nav {
  /* navbar */
  background-color: var(--color-header); /* color de fondo */
  height: 55px; /* ancho del header */

  display: flex; /* ponemos todo en el medio */
  justify-content: center;
  align-items: center;
}
a {
  color: var(--color-font-gray);
}
.container {
  /* en dispositivos grandes */
  width: 55%; /* el ancho del contenedor es chico */
  display: flex; /* ponemos todo como columna */
  flex-direction: column;
  min-height: 100vh; /* ancho como minimo de todo */
  margin: 0 auto; /* centra */
  background-color: #fff; /* color blanco */
}
.title {
  font-size: var(--font-header);
  color: white;
}

.globo {
  font-size: 32px; /* tamaño del icono del mundo */
  color: #fff;
  margin-right: 7px; /* separamos */
}

.card-container {
  /* este es el contenedor que contiene la foto y el texto*/
  display: flex;
  flex-direction: row; /* mostramos como fila y centramos */
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 5% 5% 5%; /* le damos espacio para todos lados */
  height: 100%; /* usamos todo el ancho del contenedor */
}

.foto-content {
  /* fotos */
  width: 125px; /* ancho */
  height: 100%; /* alto 100% */
  object-fit: cover;
  border-radius: 12px; /* redondeamos */
}

.foto {
  /* contenedor foto*/
  /* outline: 1px solid #ff7733; */ /* Mango Tango */
}
.card-content {
  /* contenedor donde estan todos los datos*/
  margin-left: var(--margin-1); /* separamos el contenido de la foto */
  padding: 20px; /* le damos espacio para todos lados */
}

.card-info {
  /* aca aparece la locacion y el link de google maps */
  font-size: var(--font-normal);
  margin-bottom: 7px;
}

.location {
  /* aca aparece el pais*/
  color: var(--color-font);
  font-weight: 400;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}
.link-maps {
  /* aca aparece el ver con google maps*/
  color: var(--color-font-gray); /* color gris */
  text-decoration: underline; /* subrayamos */
  margin-left: 1rem; /* lo separamos del pais */
}

.card-title {
  /*aca esta esta el titulo de donde viajamos*/
  font-size: var(--font-big); /* fuente grande */
  color: var(--color-font); /* color negro azulado */
}

.card-fechas {
  /* aca va el periodo del viaje*/
  margin-top: 12px; /* separamos del pais y google maps */
  font-weight: bold;
  font-size: var(--font-normal);
  line-height: 12px;
}
.card-text {
  /*aca va el texto*/
  margin-top: 8px; /* separamos de la fecha */
  max-width: 325px; /* como maximo ocupa 325px */
  font-size: var(--font-normal);
}
.fa-map-marker-alt {
  /* icono mapa puntero*/
  color: var(--color-header); /* mismo color del header */
  font-size: 14px;
  margin-right: 7px;
}

.footer {
  /* footer */
  background-color: var(--color-header); /* color header */
  height: 55px; /* alto 55px */
  display: flex;
  justify-content: center; /* centramos todo */
  align-items: center;
  margin-top: auto; /* mantenemos abajo el footer */
}

.footer i {
  margin: 0 1.5rem; /* separamos un poco los icomos */
  color: #fff; /* color blanco */
  font-size: 28px; /* tamaño de los iconos */
}
/* ############################################# */

/* MOBILE  */

@media screen and (max-width: 1040px) {
  /* pantallas pc */
  .container {
    width: 75%; /* ocupa mas de ancho el contenedor */
  }
  .card-container {
    /* este es el contenedor*/
    flex-wrap: wrap-reverse; /* si sobra ocupa la otra linea pero al reves */
    align-items: center;
  }
  .foto-content {
    width: 300px; /* agrandamos la foto */
  }
  .foto {
    margin-top: 1.2rem; /* al ser columna separamos la foto del texto */
  }
  .card-content {
    text-align: center; /* alineamos el texto del contenido al centro */
    margin-left: 0; /* sacamos el margin de separacion entre foto y contenido */
  }
}
@media screen and (max-width: 650px) {
  /* dispositivos chicos */

  .footer i {
    margin: 0 1rem; /* separamos menos los iconos */
  }
}
@media screen and (max-width: 470px) {
  /* celulares */
  .foto-content {
    width: 225px;
  }
  .link-maps {
    margin-left: 0.2rem; /* acortamos la distancia entre el googlemaps y el pais */
  }
  .footer i {
    margin: 0 0.5rem; /* separamos menos los iconos */
  }
}
